*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



html , body {
    height: 100%;
}


body {
    color: #444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: antiquewhite ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 400px;
    height: 350px;
    background-color: aliceblue;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    border-radius: 25px;
}


.nav {
    width: 15px;
    height: 15px;
    margin: 2rem 15px;
    border: 7px solid #444;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 15;
    appearance: none;
    backface-visibility: hidden;
}



